/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

a{
  text-decoration:none;
}

#player {
    width:100%;
    margin-bottom:-4px;
}

#header{
    background-color: #353535;
    padding: 0 20px;
    margin-top: -4px;
    height: 60px;
    line-height: 60px;
    box-sizing: content-box;
}

#header img.logo{
    vertical-align: middle;
    margin: 0 12px 0 0;
    -ms-transform: rotate(-16deg);
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);;
}

#header input{
    height: 30px;
    padding: 0 10px;
    border: 0;
    width: 60%;
    border-left: 1px double #fff;
}

#header input:active,
#header input:focus{
    border: 1px double #f26b43;
}

#header button,
#header a.button{
    height: 30px;
    border: 0;
    margin: 0;
    background-color: #f26b43;
    color: #FFF1F1;
    padding: 0px 15px;
    font-size: 1em;
    
}
#header a.button{
    vertical-align: middle;
    line-height: 30px;
    display: inline-block;
}

#header a.button:hover,
#header a.button:active,
#header a.button:focus,
#header button:hover, 
#header button:active,
#header button:focus{
    background-color: #FFF1F1;
    color: #f26b43;
    cursor: pointer;
}

#chat {
    width:100%;
    flex: 1 1 auto;
    position: relative;
}

#container{
    display: flex;
    flex-flow: column;
    height: 100%;
}
/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
    padding-bottom: 60px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
    border: 1px solid #353535;
    border-left-width: 8px;
    bottom: 0;
    height: 60px;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 100%;
    background-color: #F8F8FF;
}